doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')
		script(src="//code.jquery.com/jquery-latest.min.js")
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
		style.
			li{
				word-break: break-all;
			}
		script.
			function drag(me, ev){
			    ev.dataTransfer.setData("Text", ev.target.id);
			}
			function drop(status,ev) {
				var text = ev.dataTransfer.getData("Text");
				$.ajax({
					url:`/task/updateAjax/${status}`,
					method:"put",
					data:{data:text}
				}).done((data)=>{
					if(data.result){
						//1. 본문 옮기기
						// 메모 contents에 drop 할 경우
						if($(ev.target).parents('.wrapper').attr('class')){
							$(ev.target).parents('.wrapper').append(document.getElementById(text))
						// 메모 title에 drop 할 경우
						}else{
							$(ev.target).siblings('.wrapper').append(document.getElementById(text))
						}

						//2. badge 수정하기
						$('#todo-badge').text(data.todo.length)
						$('#inProgress-badge').text(data.inProgress.length)
						$('#done-badge').text(data.done.length)
					}
				}).error(e=>{
					alert('error!'+e)
				})
				ev.preventDefault();
			}
			function allowDrop(ev) {
				ev.preventDefault();
			}

	body
		block content